{% extends "base.html" %}
{% block content %}
    <header>
        <ul><li><a href="{{ url_for('main.ver_documento') }}">Story_Telling</a></li></ul>
        <h2>Functionalities IA aided</h2> 
        <div>
            <h3>1.- Operations Research Corner</h3>
            <ul>
                <li><a href="/tsp">1.- Traveler Salesman Problem</a></li>
            </ul>
        </div>
        <div>
            <h3>2.- Local Database Management</h3>
            <ul>
                <li><a href="{{ url_for('main.categorias') }}">Categories</a></li>
                <li><a href="{{ url_for('main.productos') }}">Articles</a></li>
                <li><a href="{{ url_for('main.clientes') }}">Clients</a></li>
                <li><a href="{{ url_for('main.compras') }}">Sales</a></li>
                <li><a href="{{ url_for('main.resumen') }}">Resume</a></li>
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
            </ul>
        </div>
        <div>
            <h3>3.- Images Generating with @ DALL-E</h3>
            <form method="POST" action="{{ url_for('main.generate_image') }}" onsubmit="mostrarCargando()">
                <label for="prompt">Describe your image:</label>
                <input type="text" id="prompt" name="prompt" required>
                <button type="submit">Generate</button>
            </form>
            <div id="spinner" style="display: none; text-align: center;">
                <p>Working on progress...</p>
                <div class="spinner"></div>
            </div>
            {% if imagen_url %}
            <div>
                <h3>Image:</h3>
                <img src="{{ imagen_url }}" alt="DALL-E Image Generated">
            </div>
            {% endif %}
        </div>
        <div>
            <h3>4.- Computer Vision (GPT.4o + CV)</h3>
            <li><a href="/rubik"> Rubik's cube</a></li>
        </div>
        <div>
            <h3>5.- ChatBot_Operations Research(@LangChain)</h3>
            <a href="http://localhost:8501" target="_blank">Ir al Chatbot</a>


        </div>
    </header>
{% endblock %}


        