{% extends "base.html" %}

{% block title %}TSP{% endblock %}
{% block content %}


<h2 style="margin-left: 200px;">Selecciona 15 ciudades</h2>
<div style="margin-left: 200px;">
    <form method="POST" action="{{ url_for('main.tsp') }}">
      <select name="ciudades" multiple size="15" required>
        {% for ciudad in ciudades %}
          <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
        {% endfor %}
      </select>
      <button type="submit">Calcular</button>
    </form>
  </div>
{% endblock %}

